@model App.Api.ViewModels.DocumentoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>EnderecoViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <div style="display:flex">
            <dt class="float-left">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="float-left">
                @Html.DisplayFor(model => model.Id)
            </dd>
        </div>


        <div style="display:flex">
            <dt class="float-left">
                @Html.DisplayNameFor(model => model.Pessoa.Nome)
            </dt>
            <dd class="float-left">
                @Html.DisplayFor(model => model.Pessoa.Nome)
            </dd>
        </div>


        <div style="display:flex">
            <dt class="float-left">
                @Html.DisplayNameFor(model => model.Pessoa.Cpf)
            </dt>
            <dd class="float-left">
                @Html.DisplayFor(model => model.Pessoa.Cpf)
            </dd>
        </div>



        <div style="display:flex">
            <dt class="float-left">
                @Html.DisplayNameFor(model => model.DataVencimento)
            </dt>
            <dd class="float-left">
                @Html.DisplayFor(model => model.DataVencimento)
            </dd>
        </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
