@model IEnumerable<App.Api.ViewModels.DocumentoViewModel>

@{
    ViewBag.Title = "Lista de Títulos a Vencer";
}

<h2>@ViewBag.Title</h2>

<div>
    <a href="@Url.Action("Create")" class="btn btn-primary">Novo</a><br /><br />
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Número")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pessoa.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtdeParcelas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorOriginal)
        </th>
        <th>
            @Html.DisplayName("Dias a Vencer")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorAtualizado)
        </th>        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pessoa.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtdeParcelas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentoOrigem.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiasEmAtrado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorAtualizado)
        </td>
    </tr>
}

</table>
